<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ librarian.id }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ librarian.photo }}" alt="Photo of a {{ librarian.name }}">
    <mat-card-content>
        <p>{{ librarian.email }}</p>
        <p>{{ librarian.name }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [routerLink]="['edit', librarian.id]">Edit</button>
        <div fxFlex></div>
        <button mat-raised-button color="warn" (click)="deleteLibrarian(librarian.id)">Remove</button>
      </mat-card-actions>
</mat-card>
<br/>